li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.avgRatings {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

.averageContainer {
  width: 100%;
  display: flex;
}

.explanation {
  width: 50%;
  padding-right: 3rem;
}
