<main>
  <div>
    <h2>Recent Weather Predictions</h2>
    <div *ngFor="let data of weather">
      {{data.weatherBit.forecast}}
    </div>
  </div>
  <ngx-charts-bar-vertical-2d [view]="view" [results]="multi" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle"
    (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
  </ngx-charts-bar-vertical-2d>

  <div>total/cumulative scores go here</div>
</main>
